*, :after, :before {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial';
    background: #eee;
}

.chat {
    &__inner{
        max-width: 80%;
        margin: 0 auto;
        padding: 0px 20px;
    }

    &__header{
        text-align: center;
        font-size: 24px;
        line-height: 80px;
        font-weight: bold;
        height: 80px;
        background: #333;
        color: #fff;

        &__inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__content{
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 80px);
        padding-top: 20px;
    }

    &__chats-list{
        width: 300px;
        margin-right: 20px;
    }

    &__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
    }
}