.message__inner{
    display: flex;
    flex-direction: column;
    background: url('https://oir.mobi/uploads/posts/2021-01/1611926369_5-p-krasivii-fon-dlya-chata-5.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}
